/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}
.clear{
	clear: both;
	margin: 0px;
}
/*VARIABLES*/
$text-color: #313135;
$main-color: #3751A2;
$background-color: #E9E8F4;
$crimson: 'Crimson Text', serif;

@mixin border($place){
 border-#{$place}: 3px solid $main-color;
}
@mixin box-sizing($input){
  -moz-box-sizing: $input;
  -webkit-box-sizing: $input;
  box-sizing: $input;
  -o-box-sizing: $input;
}
@mixin hover-border{
  border-right: 2px solid #E2E2F2;
  border-bottom: 2px solid #E2E2F2;
  border-top: 2px solid #F5F5FF;
  border-left: 2px solid #F5F5FF;
}

/*BASE*/
body{
  font-size: 16px;
  color: $text-color;
  font-family: $crimson;
  
}