header{
  .flag{
   margin-right: 17px; 
  }
  ul{
    li{
      margin-left: 20px;
    }
  }
}
.btn{
  padding: 1px 0px 6px;
  background-color: $background-color;
  display: block;
  text-align: center;
  margin-top: 20px;
  @include box-sizing(border-box);
  &:hover{
    @include hover-border;
  }
}
footer{
  p{
    color: #B4B4C0;
  }
}
form{
  margin-top: 20px;
  margin-bottom: 60px;
  .one-third{
    width: 32.3%;
    display: inline-block;
    &:not(:first-of-type){
      padding-left: 1%;
    }
  }
  label{
    padding-bottom: 10px;
  }
}
input, textarea{
  border: none;
  outline: none;
  background-color: $background-color;
  display: block;
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  color: $text-color;
  font-family: $crimson;
  @include box-sizing(border-box);
  padding: 10px 10px;
  p{
    padding-bottom: 10px;
  }
  &:focus{
    @include hover-border;
  }
  &[type="submit"]{
    margin-top: 30px;
    cursor: pointer;
    width: intrinsic;
    padding: 0px 20px;
    color: $text-color;
    &:hover{
      @include hover-border;
    }
  }
  &#message{
    height: 200px;
  }
}
footer{
  p{
    font-size: 13px;
  }
  padding-bottom: 20px;
}